html{
  width:100%;
  height:100%;
  padding:0%; 
  margin:0%;
}
body{
  padding:0px;
  margin:0px;
  width:100%;  
  height:100%;
}
header {
    height: 20%;
}
 nav {
    width:100%;
    clear:both;    
}
nav ol {
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
    padding:0px; 
}
nav ol li {
    display: inline;
}
nav ol li a {
    background-color: #d50000;
    display:block;
    float:left;
    color: #fff;
    width: 20%;
    font-family: sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    text-align: center;
}
nav ol li a:visited {
    background-color: #d50000;  
}
nav ol li a:focus {
    background: rgba(132, 132, 132, 0.8);
}
nav ol li a:hover {
    background: rgba(132, 132, 132, 0.8);
}
nav ol li a:active {
    background: rgba(132, 132, 132, 0.8);
}
article {
   clear:both;
}
footer {
    background-color: #d50000;
    margin: 0px;
    padding: 15px;
    text-align: center;
    color: #fff;
}
footer h3{
    margin:0px;
    font-size:small;
    font-family: sans-serif; 
}
footer a {
    text-decoration:none;
    font-family: sans-serif;
    color:#fff;
    font-size:small;
}
footer a:visited {
    font-style:italic;
}
footer a:focus {
    font-style: italic;
}
footer a:hover {
    font-style: italic;
}
footer a:active {
    font-style: italic;
}
