html{
  width:100%;
  height:100%;
  padding:0%; 
  margin:0%;
}
body{
  padding:0px;
  margin:0px;
  width:100%;  
  height:100%;
  font-family: sans-serif; 
}
header {
    height: 20%;
    background-image:url("/img/banner.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
 nav {
    width:100%;
    clear:both;    
}
nav ol {
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
    padding:0px; 
}
nav ol li {
    display: inline;
}
nav ol li a {
    background-color: #d50000;
    display:block;
    float:left;
    color: #fff;
    width: 20%;
    font-family: sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    text-align: center;
}
nav ol li a:visited {
    background-color: #d50000;  
}
nav ol li a:focus {
    background: rgba(132, 132, 132, 0.8);
}
nav ol li a:hover {
    background: rgba(132, 132, 132, 0.8);
}
nav ol li a:active {
    background: rgba(132, 132, 132, 0.8);
}
article {
   clear:both;
}
#main {
    width: 80%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: solid 2px red;
    border-radius: 20px;
    padding: 2%;
}
#content {
    width: 60%;
    float: left;
    overflow:hidden;
}
#content a, #content a:visited{
    color: #d50000;
    text-decoration: none;   
}
#content a:focus, #content a:hover, #content a:active {
    font-style: italic;
}
#img{
  
    width:40%;
    margin-left:60%;
    text-align:center;
}
h1{
    color:#d50000;
    font-size:x-large;
}
h2 {
    color: #d50000;
    font-size: medium;
    font-weight:normal;
}
h4{
  margin-bottom:0px;
  font-size:large; 
}
h5 {
    font-size:medium; 
    display:inline;
}
footer {
    background-color: #d50000;
    margin: 0px;
    padding: 15px;
    text-align: center;
    color: #fff;
}
footer h3{
    margin:0px;
    font-size:small;
    font-family: sans-serif; 
}
footer a {
    text-decoration:none;
    font-family: sans-serif;
    color:#fff;
    font-size:small;
}
footer a:visited {
    font-style:italic;
}
footer a:focus {
    font-style: italic;
}
footer a:hover {
    font-style: italic;
}
footer a:active {
    font-style: italic;
}
